<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitLab Dashboard Report</title>
    <link rel="icon" type="image/x-icon" href="ubs_keys_img.png">
    <div style="text-align: right; position: absolute; top: 100px; right: 16px;" ><b> Date: {{ current_date }}</b></div>
</head>
<style>
    table, th, td {
      border:2px solid black;
      border-collapse: collapse;
    }
    th, td {
  background-color: #96D4D4;
}
.header {
    padding: 5px;
    text-align:center;
    background-color: black;
    color: white;
    right: 50px;

}
.header h1 {
    font-size: 30px;
    color: red ;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 2px ;
    text-align: center;
    background: #ddd;
}
.sidenav {
    flex: 0x;
    background-color: #f1f1f1;
    padding: 15px;
}

.sidenav h3 {
    font-size: larger;
    text-align: center;
}
.MyInput{
    width: 30px;
    margin-left: 15px;
}
.main {
  flex: 100px;
  background-color: white; 
  padding: 10px;
}

@media screen and (max-width:1000px) {
    .row{
        flex-direction: column;
    }
}
@media screen and (max-height: 100px) {
  .sidenav {padding-top: 10px;}

}
.button {
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.body{
    background-color: white;
}

// Navbar

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
//Pagination Style
input[type="button"] {
	transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
	font-size: 15px;
}

input[type="button"]:not(.active) {
	background-color:transparent;
}

.active {
	background-color: #808080;
	color :#fff;
}

input[type="button"]:hover:not(.active) {
	background-color: #ddd;
}
</style>
<body class="body">
<div id="navbar">
  <a href="mailto:DL-BIG-DATA-CLOUDERA <dl-big-data-cloudera@ubs.com>">Contact</a>
  <a href="https://devcloud.ubs.net/groups/ubs/gcto/gcto/data-platform-svc/big-data-svc/commons/-/wikis/Quick-Reference-BDS-Cloudera-Big-Data-Platforms">More Info</a>
  <a href="P:/Shekhar%20Data/GitLab%20Triage%20Bot/Gitlab%20Pages/about.html">About</a>
</div>
<div class="header">
        <h1> GitLab Issues Report </h1>
	<div style="text-align: left;top: 25px; position: absolute;"><img src ="ubs_img.jpg" width="100" alt="My Image" /></div>
</div>

<div class="row">
    <div class="sidenav">
        <h3><b>Gitlab Summary</b></h3>
        <fieldset>
            <label for="Desc">Missing Description:</label><input class="MyInput"  type="text" id="Desc" name="Desc" value={{ Desc_count }} disabled><br><br>
            <label for="Assignee">Missing Assignee:</label><input class="MyInput" type="text" id="Assignee" name="Assignee" value={{ Assignee_count }} disabled><br><br>
            <label for="Labels">Missing Labels:</label><input class="MyInput" type="text" id="Labels" name="Labels" value={{ Labels_count }} disabled><br><br>
            <label for="epic">Missing Epic:</label><input class="MyInput" type="text" id="epic" name="epic" value={{ Epic_count }} disabled><br><br>
            <label for="total"><b>Total Issue Count:</b></label><input class="MyInput" type="total" id="total" name="total" value={{ sum }} disabled><br><br>
        </fieldset>
    </div>
    <div class="main">
        
        <!--<input id="myinput" onkeyup="myFunction()">
        <!-- a href="issues.csv" download="issues.csv">Download Your CSV File here</a-->
        
        <button class="button button1" onclick="exportToExcel()">Export Table Data to Excel File</button>
        <table id="tbl" style="width:100;">
        <thead class="thead-dark">
            <tr>
                <th col-index = 1>S.No</th>

                <th col-index = 2>Issue Type
                  <select class="table-filter" onchange="filter_rows()">
		                <option value="all"></option>
		              </select>
                </th>
            
                <th col-index = 3>Assignee Name
                  <select class="table-filter" onchange="filter_rows()">
		                <option value="all"></option>
		              </select>
                </th>
            
                <th col-index = 4>Issue Link</th>
                
            
                <th col-index = 5>Issue Age</th>
            
                <th col-index = 6>Comments</th>	
               
            </tr>
        </thead>
            <tbody>
                
                {% for num, itype, assignee, url, issueage, note in issue_data %}
                <tr>
                    <td>{{ num }}</td>
                    <td>{{ itype }}</td>
                    <td>{{ assignee }}</td>
                    <td><a href = {{ url }}>{{ url }}</td>
                    <td> {{ issueage }}</a></td>
                    <td>{{ note }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="pageNavPosition" class="pager-nav"></div>
        <script src="pagination.js"></script>
        </div> 
    </div>
<div class="footer" >
    <p> This page was last modified on {{ page_updated_at }}
    © UBS 2020 | All rights reserved | For internal use only <p>
    </div>
</div>
</body>
</html>
