<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitLab Dashboard Report</title>
    <link rel="icon" type="image/x-icon" href="C:\Users\SH40080148\Documents\JS\template\favicon.ico">
    <div style="text-align: right; position: absolute; top: 180px; right: 16px;" ><b> Report Date: {{ current_date }}</b></div>
    <link rel="stylesheet" href="styles.css">
  </head>
<style>
 
</style>
<body class="body">
  <img src="C:\Users\SH40080148\Documents\JS\template\ubs_img.jpg" style="width:100px;height:50px; position: absolute;float: left;background:#ddd;">
  <div class="header">
    <div class="header-right">
      <a href="#home">Home</a>
      <a href="mailto:DL-BIG-DATA-CLOUDERA <dl-big-data-cloudera@ubs.com>">Contact</a>
      <a href="https://devcloud.ubs.net/groups/ubs/gcto/gcto/data-platform-svc/big-data-svc/commons/-/wikis/Quick-Reference-BDS-Cloudera-Big-Data-Platforms">More Info</a>
      <a href="P:/Shekhar%20Data/GitLab%20Triage%20Bot/Gitlab%20Pages/about.html">About</a>
    </div>
  </div>
  
  <div style="padding-left:20px;text-align: center;color: red;background-color: black; padding: 3px;">
    <h1>GitLab Issue Report</h1>
  </div>

<div class="row">
    <div class="sidenav">
        <h3><b>Gitlab Summary</b></h3>
        <fieldset>
            <label for="Desc">Missing Description:</label><input class="MyInput"  type="text" id="Desc" name="Desc" value={{ Desc_count }} disabled><br><br>
            <label for="Assignee">Missing Assignee:</label><input class="MyInput" type="text" id="Assignee" name="Assignee" value={{ Assignee_count }} disabled><br><br>
            <label for="Labels">Missing Labels:</label><input class="MyInput" type="text" id="Labels" name="Labels" value={{ Labels_count }} disabled><br><br>
            <label for="epic">Missing Epic:</label><input class="MyInput" type="text" id="epic" name="epic" value={{ Epic_count }} disabled><br><br>
            <label for="total"><b>Total Issue Count:</b></label><input class="MyInput" type="total" id="total" name="total" value={{ sum }} disabled><br><br>
        </fieldset>
    </div>
    <div class="main">
        
        <!--<input id="myinput" onkeyup="myFunction()">
        <!-- a href="issues.csv" download="issues.csv">Download Your CSV File here</a-->
        
        <button class="button button1" onclick="exportToExcel()">Export Table Data to Excel File</button>
        <table id="tbl" style="width:100;">
        <thead class="thead-dark">
            <tr>
                <th col-index = 1>S.No</th>

                <th col-index = 2>Issue Type
                  <select class="table-filter" onchange="filter_rows()">
		                <option value="all"></option>
		              </select>
                </th>
            
                <th col-index = 3>Assignee Name
                 <select class="table-filter" onchange="filter_rows()">
		                <option value="all"></option>
		              </select>
                </th>
            
                <th col-index = 4>Issue Link</th>
            
                <th col-index = 5>Issue Age
                  <select class="table-filter" onchange="filter_rows()">
		                <option value="all"></option>
		              </select>
                </th>
            
                <th col-index = 6>Comments</th>	
               
            </tr>
        </thead>
            <tbody>
                
                  {% for num, itype, assignee, url, issueage, note in issue_data %}
                  <tr>
                    <td>{{ num }}</td>  
                    <td>{{ itype }}</td>
                    <td>{{ assignee }}</td>
                    <td><a href = {{ url }}>{{ url }}</td>
                    <td> {{ issueage }}</a></td>
                    <td>{{ note }}</td>
                  </tr>
                  {% endfor %}
            </tbody>
        </table>

        <div>
          <script src="JSCode.js"></script>
        </div> 
        </div>
      </div> 
<div class="footer" >
    <p> This page was last modified on {{ page_updated_at }}
    © UBS 2020 | All rights reserved | For internal use only<p>
    </div>
</div>
</body>
</html>

