<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitLab Dashboard Report</title>
    <link rel="icon" type="image/x-icon" href="C:\Users\SH40080148\Documents\JS\template\favicon.ico">
    <div style="text-align: left;"><img src="C:\Users\SH40080148\Documents\JS\template\ubs_img.jpg" width="100" alt="My Image" /></div>
    <div style="text-align: right; position: absolute; top: 14px; right: 16px;" ><b> Date: {{ current_date }}</b></div>
    <script type="text/javascript">
    function myFunction() {
    var inputs = document.getElementById("myinput");
    var fitler = inputs.value.toUpperCase();
    var table = document.getElementsByTagName("table")[0];
    var tr = table.getElementsByTagName("tr");
    for (var i=1;i<tr.length;i++){
    tr[i].style.display = "none";
    var td = tr[i].getElementsByTagName("td");
    for (var j = 0; j < tr.length; j++) {
    cell = tr[i].getElementsByTagName("td")[j];
    if(cell){
    if (cell.innerHTML.toUpperCase().indexOf(filter) > -1){
    tr[i].style.display="";
    }
    }
    }
    }
    }
    function exportToExcel(){
        var downloadurl;
        var dataFileType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementsByTagName("table")[0];
        var tableHTMLData = tableSelect.outerHTML.replace(/ /g, '%20');
        
        filename = 'issues.xls';
        
        downloadurl = document.createElement("a");
        document.body.appendChild(downloadurl);
        
        if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['ufeff', tableHTMLData], {
            type: dataFileType
        });
        navigator.msSaveOrOpenBlob(blob, filename);
        }else{
        downloadurl.href =  'data:' + dataFileType + ', ' + tableHTMLData;
        downloadurl.download = filename;
        
        downloadurl.click();
        }}
</script>
</head>
<style>
    table, th, td {
      border:2px solid black;
      border-collapse: collapse;
    }
    th, td {
  background-color: #96D4D4;
}
.header {
    padding: 1px;
    text-align:center;
    background: black;
    color: white;
}
.header h1 {
    font-size: 30px;
    color: red ;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 2px ;
    text-align: center;
    background: #ddd;
}
.sidenav {
    flex: 0x;
    background-color: #f1f1f1;
    padding: 15px;
}

.sidenav h3 {
    font-size: larger;
    text-align: center;
}

.MyInput{
            display: table-cell;
            width: 30px;
            white-space: nowrap;
        }
.main {
  flex: 100px;
  background-color: white; 
  padding: 10px;
}

@media screen and (max-width:1000px) {
    .row{
        flex-direction: column;
    }
}
@media screen and (max-height: 100px) {
  .sidenav {padding-top: 10px;}

}
</style>
<body>
<div class="header">
        <h1> GitLab Issues Report </h1>
</div>

<div class="row">
    <div class="sidenav">
        <h3><b>Gitlab Summary</b></h3>
        <label for="Desc">Missing Description:</label>
        <input class="MyInput"  type="text" id="Desc" name="Desc" value={{ Desc_count }}><br><br>
        <label for="Assignee">Missing Assignee:</label>
        <input class="MyInput" type="text" id="Assignee" name="Assignee" value={{ Assignee_count }}><br><br>
        <label for="Labels">Missing Labels:</label>
        <input class="MyInput" type="text" id="Labels" name="Labels" value={{ Labels_count }}><br><br>
        <label for="epic">Missing Epic:</label>
        <input class="MyInput" type="text" id="epic" name="epic" value={{ Epic_count }}><br><br>
        <label for="total"><b>Total Issue Count:</b></label>
        <input class="MyInput" type="total" id="total" name="total" value={{ sum }}><br><br>
    </div>
    <div class="main">
    <h4> Search the table for any module :
        <input type:"text" id="myinput" onkeyup="myFunction()" placeholder="Search String .." title="Type in a name">
        </h4>
        
        <!-- a href="issues.csv" download="issues.csv">Download Your CSV File here</a-->
        
        <button onclick="exportToExcel()">Export Table Data to Excel File</button>
        <table style="width:100;">
        <thead class="thead-dark">
            <tr>
            
                <th>S.No</th>
            
                <th>Assignee Name</th>
            
                <th>Issue Link</th>
            
                <th>labels</th>
            
                <th>Comments</th>
            
                <th>Issue Type</th>
               
            </tr>
        </thead>
            <tbody>
                
                {% for num, assignee, url, lbl, note, itype in issue_data %}
                <tr>
                    <td>{{ num }}</td>
                    <td>{{ assignee }}</td>
                    <td><a href = {{ url }}>{{ url }}</td>
                    <td> {{ lbl }}</a></td>
                    <td>{{ note }}</td>
                    <td>{{ itype }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div> 
    </div>
<div class="footer" >
    <h2> This is the footer Area</h2>
    </div>
</div>
</html>
