/* pagination */
input[type="button"] {
	  transition: all .3s;
    border: 1px solid #4CAF50;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
	  font-size: 15px;
    margin-top: 100px;
    width: fit-content;

}

input[type="button"]:not(.active) {
	background-color:transparent;
}

active {
	background-color: #808080;
	color :#fff;
}

input[type="button"]:hover:not(.active) {
	background-color: #4CAF50;
}
/*table */
table, th, td {
      border:2px solid black;
      border-collapse: collapse;
    }
    th, td {
  background-color: #96D4D4;
}
th {
  cursor: pointer;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 2px ;
    text-align: center;
    background: #ddd;
}
.sidenav {
    flex: 0x;
    background-color: #f1f1f1;
    padding: 15px;
}

.sidenav h3 {
    font-size: larger;
    text-align: center;
}
.MyInput{
    width: 30px;
    margin-left: 15px;
}
.main {
  flex: 100px;
  background-color: white; 
  padding: 10px;
}

@media screen and (max-width:1000px) {
    .row{
        flex-direction: column;
    }
}
@media screen and (max-height: 100px) {
  .sidenav {padding-top: 10px;}

}
.button {
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.body{
    background-color: white;
}
.header {
  overflow: hidden;
  background-color: white;
  padding: 5px 5px;
  top: 0px;
  width: fit-content;
  margin-left: 1190px;
}

.header a {
  float: left;
  color:black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: left;
  }
}
